---
networks:
  default:
    driver: bridge

volumes:
  certificates:
  logs:

services:
  # ***************************
  # Data Transfer components
  # ***************************
  # SSL terminator
  cert:
    container_name: data-transfer-ssl
    image: eosc/data-transfer-ssl:latest
    build:
      context: cert/
      args:
        - SERVICE_DOMAIN=${SERVICE_DOMAIN}
        - SERVICE_EMAIL=${SERVICE_EMAIL}
        - SERVICE=api:8089
        - GRAFANA_URL=http://grafana:3000
        - TELEMETRY_URL=${OTEL_COLLECTOR_ADDR}
        - CORS_ORIGINS=${CORS_ORIGINS:-.*}
        - CORS_HEADERS=${CORS_HEADERS:-Authorization,Authorization-Storage,Origin,Accept,Content-Type}
        - CORS_METHODS=${CORS_METHODS:-GET,POST,PUT,DELETE,OPTIONS}
    links:
      - api
      - grafana
    volumes:
      - certificates:/etc/letsencrypt
    healthcheck:
      test: ['CMD', '/opt/status.sh']
      start_period: 30s
      interval: 1m
      timeout: 5s
    restart: unless-stopped
    ports:
      - "80:80"
      - "${SERVICE_PORT}:443"
      - "${TELEMETRY_PORT}:8080"

  # Data transfer service
  api:
    image: registry.egi.eu/eosc-beyond.eu/eosc-data-transfer/app
    container_name: data-transfer-api
    environment:
      - EOSC_TRANSFER_SERVICE_FTS_URL=${FTS_URL:-https://fts-egi.cern.ch:8446}
      - EOSC_TRANSFER_SERVICE_FTS_TRUST_STORE_PASSWORD=${FTS_TRUST_STORE_PASSWORD}
      - EOSC_TRANSFER_SERVICE_FTS_TRUST_STORE_FILE=${FTS_TRUST_STORE_FILE:-cern-truststore.jks}
      - QUARKUS_SMALLRYE_OPENAPI_SERVERS=https://${SERVICE_DOMAIN}${LOCAL_SERVER}
      - QUARKUS_LOG_FILE_PATH=/deployments/logs/data-transfer-1.json
      - QUARKUS_OTEL_RESOURCE_ATTRIBUTES=${OTEL_RESOURCE_ATTRIBUTES}
      - QUARKUS_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=${OTEL_EXPORTER_TRACES_ENDPOINT}
      - QUARKUS_OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=${OTEL_EXPORTER_TRACES_ENDPOINT}
      - QUARKUS_HTTP_CORS_ORIGINS=https?:\/\/${SERVICE_DOMAIN}|http:\/\/localhost:(?::\d+)?
      - QUARKUS_HTTP_CORS_HEADERS=${CORS_HEADERS:-Origin,Content-Type,Accept}
      - QUARKUS_HTTP_CORS_METHODS=${CORS_METHODS:-GET,POST,PUT,DELETE,OPTIONS}
    volumes:
      - logs:/deployments/logs:rw
    ports:
      - "8081:8089"
    restart: unless-stopped
    depends_on:
      - jaeger

  # ***************************
  # Telemetry components
  # ***************************

  # OpenTelemetry collector
  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command:
      - "--config"
      - "/etc/otelcol-config.yml"
    environment:
      LOG_LEVEL: info
    volumes:
      - ./otelcollector/otelcol-config.yml:/etc/otelcol-config.yml
      - logs:/usr/logs/data-transfer:ro
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 125M
    depends_on:
      - loki

  # Jaeger (traces)
  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.15.0
    container_name: jaeger
    command:
      - "--config"
      - "/jaeger/config.yaml"
    environment:
      LOG_LEVEL: info
    volumes:
      - ./jaeger/jaeger.yaml:/jaeger/config.yaml
      - ./jaeger/jaeger-ui.json:/jaeger/config-ui.json
    ports:
      - "${JAEGER_SERVICE_PORT}:16686"  # UI and Query API
      - "${JAEGER_COLLECTOR_PORT}:4317" # gRPC receiver
      - "8889:8889"                     # Jaeger metrics
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 300M

  # Loki (logs)
  loki:
    image: grafana/loki:3.6
    container_name: loki
    volumes:
      - ./loki/loki.yaml:/etc/loki/local-config.yaml
    deploy:
      resources:
        limits:
          memory: 250M
    restart: unless-stopped
    ports:
      - "${LOKI_COLLECTOR_PORT}:3100"

  # Prometheus (metrics)
  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    command:
      - --web.console.templates=/etc/prometheus/consoles
      - --web.console.libraries=/etc/prometheus/console_libraries
      - --storage.tsdb.retention.time=1h
      - --config.file=/etc/prometheus/prometheus-config.yaml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
      - --web.route-prefix=/
      - --enable-feature=exemplar-storage
    volumes:
      - ./prometheus/prometheus-config.yaml:/etc/prometheus/prometheus-config.yaml
    deploy:
      resources:
        limits:
          memory: 300M
    ports:
      - "${PROMETHEUS_SERVICE_PORT}:9090"

  # Grafana (dashboard)
  grafana:
    image: grafana/grafana:12.3.2
    container_name: grafana
    deploy:
      resources:
        limits:
          memory: 75M
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3000:3000"
