---
name: Build

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

env:
  REPO_IMAGE: registry.egi.eu/eosc-beyond.eu/eosc-data-transfer

jobs:
  build_container:
    name: Building container from
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to EGI Harbor container registry
        uses: docker/login-action@v3
        with:
          registry: registry.egi.eu
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push the newest release
        uses: docker/build-push-action@v6
        with:
          context: src/main/docker/data-transfer/
          push: true
          tags: |
            ${{ env.REPO_IMAGE }}:latest
            ${{ env.REPO_IMAGE }}:${{ github.event.release.tag_name }}
        if: ${{ github.event_name == 'release' }}

      - name: Build and push the latest version
        uses: docker/build-push-action@v6
        with:
          context: src/main/docker/data-transfer/
          #On pull requests no image push is done before merging
          push: ${{ github.event_name == 'push' }}
          tags: registry.egi.eu/eosc-beyond.eu/eosc-data-transfer/app:latest
        if: ${{ github.event_name != 'release' }}
