receivers:
  filelog:
    start_at: beginning
    include:
      - /usr/logs/data-transfer/*.json*

exporters:
  otlp_http:
    endpoint: http://loki:3100/otlp

processors:
  batch:
  attributes:
    # Adding a Loki label based on OTLP attribute "log.file.name" happens in two steps:
    actions:
      # Insert a new attribute "file_name" from the OTLP attribute "log.file.name"
      - action: insert
        key: filename
        from_attribute: log.file.name
      # Add hint for Loki that the attribute "filename" should be placed as a Loki label
      - action: insert
        key: loki.attribute.labels
        value: filename

extensions:
  health_check:

service:
  extensions: [ health_check ]
  pipelines:
    logs:
      receivers: [ filelog ]
      processors: [ attributes, batch ]
      exporters: [ otlp_http ]
